<!-- header.handlebars -->
<div class='top-bar'>
  <div class='top-bar-left'>
    <ul class='menu'>
      <li class='menu-text'>The Blog </li>
    </ul>
  </div>
  <div class='top-bar-right'>
    <ul class='menu'>
      <li><a href='#'>Home</a></li>
      <li><a href='#'>Dashboard</a></li>
      <li><a href='#'>Login</a></li>
      <li><a href='#'>Logout</a></li>
    </ul>
  </div>
</div>