{{! Extend the main layout }}
{{!-- Note: If you are using a layout in Handlebars, you might use an `{{#extends}}` or `{{#layout}}` block, but with the default setup, you might just need to ensure it is placed correctly in your views directory. --}}
{{! Content specific to the login page }}
<h1>Login</h1>
<form action='/login' method='POST'>
  <label for='username'>Username:</label>
  <input type='text' id='username' name='username' required />
  <label for='password'>Password:</label>
  <input type='password' id='password' name='password' required />
  <button type='submit'>Login</button>
</form>